<link rel="stylesheet" href="/css/signin.css"> 


<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card"  id="outerbox">
          <div class="card-body">
            <h4 class="card-title text-center">Sign Up</h4>
            <form  action="/create" method="post"  id="form">
              <div class="mb-3">
                <label for="fullName" class="form-label">Full Name</label>
                <input type="text"  name="name" class="form-control" id="fullName" placeholder="Enter your full name">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email"  name="email" class="form-control" id="email" placeholder="Enter your email">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password"   name="password" class="form-control" id="password" placeholder="Enter your password">
              </div>
              <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password"  name="confirm_password" class="form-control" id="confirmPassword" placeholder="Confirm your password">
              </div>
              <button type="submit" class="btn btn-primary w-100">Sign Up</button>
            </form>
            <p class="mt-3 text-center">Already have an account? <a href="/signin" class="text-decoration-none">Sign In</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
 